DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=germify.ddns.net,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://germify.ddns.net,http://localhost,https://localhost

MYSQL_DATABASE=germify
MYSQL_USER=germify_user
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
