# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (локальная)
db.sqlite3

# Логи
*.log

# Медиа (загружаемые файлы пользователей)
media/

# IDE настройки
.vscode/
.idea/

# Оставляем кастомный батник
!backend/autoRunServerPython.bat

# Игнорируем виртуальное окружение
venv/
.venv/