{% extends "core/base.html" %}
{% load static %}

{% block title %}{% block head_title %}Аккаунт — Germify{% endblock %}{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'core/css/pages/account/account.css' %}?v=1">
{% endblock %}

{% block content %}
  <div class="account-page g-page">
    <section class="card account-card">
      <div class="card-body account-card__body">
        <div class="account-card__header">
          <h1 class="account-card__title">{% block account_title %}{% endblock %}</h1>
          {% block account_subtitle %}{% endblock %}
        </div>
        <div class="account-card__content">
          {% block account_content %}{% endblock %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
